@charset "utf-8";

/*base
---------------*/
body {
    color: #888888;
    font-size: 14px;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.7;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/*module
---------------*/
/*---unit---*/
.unit__catch {
    color: #FA6980;
    font-size: 12px;
    font-style: oblique;
    line-height: 1.6;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.unit__title {
    color: #202124;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}

.unit__text {}