/*mix-in
-------------------------*/
/*common
-------------------------*/
/*body
---------------*/
body {
  color: #1B2D55;
  font-size: 0.875rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.7142857143;
  letter-spacing: 0.05em;
}

img {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  vertical-align: bottom;
}

/*header
---------------*/
.header {
  background-color: #fff;
  padding: 60px 0;
}
.header__inner {
  width: 86.4864864865%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  width: 215px;
}
@media screen and (min-width: 950px) {
  .header__icon {
    display: none;
  }
}
.header img {
  margin: 0;
}

.nav {
  display: none;
  flex: 1;
}
@media screen and (min-width: 950px) {
  .nav {
    display: block;
  }
}
.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav__item {
  font-size: 1rem;
  line-height: 1.1875;
  margin-left: 1.875em;
}
.nav__about {
  margin-left: auto;
}

/*footer
---------------*/
.footer {
  background-color: #E8EDF1;
  padding: 8.5714285714em 0 14.2857142857em;
}
.footer__inner {
  width: 86.4864864865%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 740px) {
  .footer__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }
}
.footer__copy {
  font-weight: bold;
  text-align: center;
}

.contact {
  margin-bottom: 4.2857142857em;
}
@media screen and (min-width: 740px) {
  .contact {
    margin-bottom: 0;
  }
}
.contact__title {
  font-size: 2.25rem;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-align: center;
  margin-bottom: 1.1111111111em;
}
@media screen and (min-width: 740px) {
  .contact__title {
    text-align: left;
  }
}
.contact__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1.0714285714em;
}
.contact__term {
  width: 7.1428571429em;
}
.contact__desc {
  flex: 1;
}

/*index
-------------------------*/
/*visual
---------------*/
.visual {
  background-color: #DEF6FF;
  padding-bottom: 3.75em;
}
.visual__inner {
  width: 86.4864864865%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  background: url(../images/img_about.png) no-repeat center bottom;
  background-color: #DEF6FF;
  padding: 9.375em 0 40.375em;
}
@media screen and (min-width: 740px) {
  .visual__inner {
    width: 59.375%;
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
    background-position: right bottom;
    padding-bottom: 13.4285714286em;
  }
}
.visual__title {
  font-size: 3rem;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.2083333333;
  margin-bottom: 1.6666666667em;
}
.visual__content {
  max-width: 640px;
  margin-bottom: 2.8571428571em;
}
.visual .icon__list {
  display: flex;
}
.visual .icon__item {
  margin-right: 1.4285714286em;
}

/*advantages
---------------*/
.advantages {
  padding: 8.5714285714em 0;
}
.advantages__inner {
  width: 86.4864864865%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.advantages__title {
  font-size: 3rem;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.2083333333;
  text-align: center;
}
.advantages__title::before {
  content: "";
  display: block;
  width: 0.7916666667em;
  background-color: #FFF5DE;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 0 auto 0.5208333333em;
}
@media screen and (min-width: 740px) {
  .advantages__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    margin-top: 5.7142857143em;
  }
}
.advantages__item {
  border-bottom: #1B2D55 1px solid;
  margin-bottom: 5.7142857143em;
  padding-bottom: 5.7142857143em;
}
@media screen and (min-width: 740px) {
  .advantages__item {
    display: flex;
    flex-direction: column;
    width: 47.3684210526%;
    margin-bottom: 0;
    border-bottom: 0;
    padding-bottom: 0;
  }
}
.advantages__item:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}

.post__title {
  font-size: 2.25rem;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.2222222222;
  margin-bottom: 1.1111111111em;
}
.post__pic {
  text-align: center;
  margin-bottom: 2.8571428571em;
}
.post__text {
  margin-bottom: 4.2857142857em;
}
@media screen and (min-width: 740px) {
  .post__text {
    margin-bottom: auto;
  }
}

.btn {
  display: block;
  color: #fff;
  font-weight: bold;
  line-height: 1.7142857143;
  text-align: center;
  width: 197px;
  background-color: #1B2D55;
  margin-top: 4.2857142857em;
  margin-left: auto;
  margin-right: auto;
  padding: 1.4285714286em;
}

/*features
---------------*/
.features {
  padding: 8.5714285714em 0;
  background-color: #FFF5DE;
}
.features__inner {
  width: 86.4864864865%;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}
.features__title {
  font-size: 3rem;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.2083333333;
  text-align: center;
  margin-bottom: 1.6666666667em;
}
.features__title::before {
  content: "";
  display: block;
  width: 0.7916666667em;
  background-color: #DEF6FF;
  aspect-ratio: 1/1;
  border-radius: 50%;
  margin: 0 auto 0.5208333333em;
}
.features__item {
  margin-bottom: 5.7142857143em;
}

.unit {
  margin-bottom: 8.5714285714em;
}
.unit:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 740px) {
  .unit {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .unit:nth-child(even) {
    flex-direction: row-reverse;
  }
}
@media screen and (min-width: 740px) {
  .unit__content {
    width: 43.8596491228%;
  }
}
.unit__title {
  font-size: 2.25rem;
  font-weight: bold;
  font-family: Georgia, "Times New Roman", Times, serif;
  line-height: 1.2222222222;
  margin-bottom: 1.1111111111em;
}
.unit__tags {
  margin-top: 2.8571428571em;
}
.unit__tags::before {
  content: "";
  display: block;
  width: 4.2857142857em;
  margin-bottom: 4.2857142857em;
  border-bottom: 1px solid;
}
.unit__item {
  display: inline-block;
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1.1666666667;
  text-align: center;
  background-color: #fff;
  margin-right: 1.6666666667em;
  margin-bottom: 1.6666666667em;
  border-radius: 20px;
  padding: 1.25em 2.5em;
}
.unit__pic {
  margin-top: 4.2857142857em;
}
@media screen and (min-width: 740px) {
  .unit__pic {
    width: 50.8771929825%;
    margin-top: 0;
  }
}
/*# sourceMappingURL=style.css.map */