/*mixin
-------------------------*/
/*common
-------------------------*/
/*body
---------------*/
body {
  color: #5A5A5A;
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.7142857143;
  letter-spacing: 0.025em;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

/*header
---------------*/
.header {
  color: #fff;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 0;
}
.header__inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/*footer
---------------*/
.footer {
  color: #fff;
  background-color: #000;
  padding: 60px 0 160px;
}
.footer__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

/*nav
---------------*/
.nav__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.nav__item {
  margin-left: 30px;
}
.nav__item:hover {
  color: #ED145B;
}
.nav__active {
  color: #ED145B;
}

/*btn
---------------*/
.btn {
  display: block;
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 200px;
  background-color: #ED145B;
  padding: 16px 0;
}
@media screen and (min-width: 640px) {
  .btn {
    margin: 0 auto;
  }
}

.btn:hover {
  color: #ED145B;
  background-color: #fff;
  border: solid 2px #ED145B;
}

.btn--yellow {
  display: block;
  color: #fff;
  font-weight: bold;
  text-align: center;
  width: 200px;
  background-color: #EDAA14;
  margin: 0 auto;
  padding: 16px 0;
}

.btn--yellow:hover {
  color: #EDAA14;
  background-color: #fff;
  border: solid 2px #EDAA14;
}

/*post
---------------*/
.post__title {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #000;
  padding: 7px 10px;
}
.post__text {
  margin-bottom: 60px;
}
.post__pic {
  margin-bottom: 32px;
}
.post img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 640px) {
  .post img {
    aspect-ratio: 4/3;
  }
}

/*card
---------------*/
.card {
  margin-bottom: 60px;
}
.card__pic {
  margin-bottom: 32px;
}
.card__title {
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #000;
  padding: 7px 10px;
}
.card img {
  width: 100%;
  aspect-ratio: 16/9;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 640px) {
  .card img {
    aspect-ratio: 4/3;
  }
}

/*index
-------------------------*/
/*visual
---------------*/
.visual {
  background: url(../images/bg_mainvisual.png) no-repeat center/cover;
  padding: 250px 0 150px;
}
.visual__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.visual__title {
  color: #fff;
  font-size: 46px;
  font-weight: bold;
  margin-bottom: 40px;
}
.visual__title span {
  color: #ED145B;
}
.visual__lead {
  color: #fff;
  margin-bottom: 80px;
}
@media screen and (min-width: 640px) {
  .visual {
    text-align: center;
  }
}

/*updates
---------------*/
.updates {
  margin-bottom: -60px;
  padding: 80px 0;
}
.updates__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
.updates__title {
  color: #2B2B2B;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.updates .post__title {
  margin-bottom: 27px;
}
@media screen and (min-width: 640px) {
  .updates .updates__item {
    width: 28.8888888889%;
  }
  .updates .updates__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}

/*about
-------------------------*/
/*services
---------------*/
.services {
  margin-bottom: -60px;
  padding: 180px 0 80px;
}
.services__title {
  color: #2B2B2B;
  font-size: 38px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
}
.services__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 640px) {
  .services .services__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .services .services__item {
    width: 46.6666666667%;
  }
}

/*testimonials
---------------*/
.testimonials {
  text-align: center;
  background: url(../images/bg_testimonials.png) center center/cover;
  padding: 80px 0;
}
.testimonials__inner {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  padding: 50px;
}
.testimonials__title {
  color: #2B2B2B;
  font-size: 38px;
  font-weight: bold;
  margin-bottom: 50px;
}
.testimonials__pic {
  margin-bottom: 37px;
}
.testimonials__text {
  margin-bottom: 25px;
}
.testimonials__name {
  margin-bottom: 40px;
}
/*# sourceMappingURL=style.css.map */